.ham-side-menu, .gear-side-menu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: all 0.5s ease-in-out;
  padding-top: 60px;
  text-align:center;
}
  
.ham-side-menu a, .gear-side-menu a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: all 0.5s ease-in-out;
  margin: 10px 0px;
}
  
.ham-side-menu a:hover, .gear-side-menu a:hover {
  color: #f1f1f1;
}
  
.ham-side-menu .ham-side-close-btn, .gear-side-menu .gear-side-close-btn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.reaction-side-menu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.reaction-menu-list a {
  margin: 5px;
  border: none;
  background: none;
  width: 120px;
}
.reaction-side-menu .reaction-closeBtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  border: none;
  background: none;
}
.reaction-menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reaction-menu-list a:hover {
  background-color: #f1f1f1;
  border-radius: 3px;
}

#reaction-Ham-Btn {
  z-index: 100;
}
  
@media screen and (max-height: 450px) {
    .side-menu {padding-top: 15px;}
    .side-menu a {font-size: 18px;}
}