@import url(reset.css);
@import url(search.css);
@import url(recommend.css);
@import url(lastest-movie.css);
@import url(relatedSearch.css);
@import url(nav.css);
@import url(footer.css);
@import url(container-wave.css);

@font-face {
  font-family: "BMJUA";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "BMJUA";
  /*background-color: #f1efe9*/
  z-index: 0;
  background-image: url("https://wallpapers.com/images/featured/beach-sunset-bwvid0licus1pjda.jpg");
  /*https://images4.alphacoders.com/134/1348313.png*/
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main {
  display: flex;
}
/* 왼쪽 메뉴 */
.menu-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 100vh;
  padding-left: 200px;
  margin-right: 50px;
}

.menu-area__logo {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  margin-bottom: 50px;
}

.menu-area__logo img {
  width: 220px;
  border-radius: 50%;
}

.menu-area__menu {
  width: 250px;
  height: 800px;
  border-radius: 300px;
  background: rgba(255, 255, 255, 0.3); /* Semi-transparent background */
  backdrop-filter: blur(10px); /* Blur effect */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.menu-area__menu-btn {
  font-size: 60px;
  color: white;
  transition: all 0.5s ease-in-out;
}

.menu-area__menu-btn:hover {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  color: #575757;
  padding: 20px;
  transition: all 0.5s ease-in-out;
  border-radius: 50px;
}

.main {
  margin: 0px 200px;
}
/*오른쪽 스크린 화면*/
.screen-area {
  display: flex;
  margin-left: 50px;
  margin-top: 50px;
}

.screen {
  padding: 30px 0px;
  height: 1300px;
  width: 1500px;
  margin-top: 100px;
  background: rgba(255, 255, 255, 0.3); /* Semi-transparent background */
  backdrop-filter: blur(15px); /* Blur effect */
  border-radius: 100px;
}
/* 네이게이션 */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*background-color: #5e95f3;*/
  padding: 10px 20px;
  width: 100%; /* 섹션 크기를 줄이기 */
  margin: 0 auto; /* 가운데 정렬 */
  border-radius: 10px;
}

.nav-left,
.nav-right {
  display: flex;
  align-items: center;
}

.nav-left .logo {
  font-weight: bold;
  font-size: 24px;
  color: white;
  margin-right: 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  padding: 10px 15px;
  transition: background-color 0.3s ease;
  text-align: center; /* 텍스트를 센터로 고정 */
}

nav ul li a:hover {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  color: #575757;
}

.nav-left {
  margin-right: auto; /* 왼쪽 영역이 오른쪽 영역과 간격을 두도록 함 */
}

.nav-right {
  margin-left: auto; /* 오른쪽 영역이 왼쪽 영역과 간격을 두도록 함 */
}

/*검색창*/
.hero-section {
  /* background: url('/yuju/image/shrek.webp') no-repeat center center; */
  color: white;
  text-align: center;
  position: relative;
  width: 80%; /* 섹션 크기를 줄이기 */
  max-width: 1285px; /* 최대 크기 설정 */
  margin: 0 auto; /* 가운데 정렬 */
  border-radius: 10px;
  z-index: 100;
}

.hero-content {
  position: relative;
  z-index: 1;
}

.search-box {
  margin-top: 20px;
}

.search-input {
  padding: 10px;
  font-size: 16px;
  width: 100%;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  background: rgba(255, 255, 255, 0.2); /* Semi-transparent background */
  color: white;
}

.search-input::placeholder {
  color: white;
}

.search-input:focus {
  outline: none;
}

.search-button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: white;
  cursor: pointer;
}

.search-button:hover {
  background-color: #575757;
}

/* 상영작 캐러셀과 예고편 섹션을 수평으로 배치 */
.top-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 2em; /* 수평 정렬을 위해 추가 */
}

/* 상영작 캐러셀 */
.carousel {
  max-width: 800px;
  margin: 0 auto;
}

.carousel-item {
  height: 450px; /* 원하는 높이로 설정 */
  border-radius: 25px;
}

.carousel-item video {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 25px;
  z-index: 4; /* 비디오를 캐러셀 컨트롤보다 앞에 위치 */
}

.carousel-item,
.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  height: 450px; /* 원하는 높이로 설정 */
  border-radius: 30px;
  z-index: 3; /* 비디오를 캐러셀 컨트롤보다 앞에 위치 */
}

.thumbnail {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.carousel slide {
  border-radius: 20px;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  padding: 10px;
}

.custom-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.custom-controls button,
.custom-controls input[type="range"] {
  margin: 0 5px;
}

/* 예고편 부분 */
.preview-section {
  width: 25%; /* 섹션 크기를 줄이기 */
  max-width: 600px; /* 최대 크기 설정 */
  margin: 0 auto; /* 가운데 정렬 */
  /*background-color: #ffffff;*/ /* 배경 색상 */
}

.preview-list {
  display: flex;
  flex-direction: column; /* 수직 정렬 */
  overflow-y: auto; /* 수직 스크롤 활성화 */
  overflow-x: hidden; /* 수평 스크롤 비활성화 */
  height: 500px; /* 원하는 높이로 설정 */
  /* 스크롤바 숨기기 */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.preview-item {
  position: relative;
  margin: 10px;
  flex: 0 0 auto;
  width: 100%; /* 이미지 크기 조절 */
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  /*background-color: #ecf0f1;*/
}

.preview-item iframe {
  width: 100%;
  height: 200px;
  border: none;
}

.preview-info {
  padding: 10px;
  text-align: center;
}

.preview-info h3 {
  font-size: 18px;
  margin: 10px 0;
  color: #ffffff;
}

.preview-info p {
  font-size: 14px;
  color: #ffffff;
}

.preview-list {
  display: flex;
  overflow-x: hidden; /* 스크롤바 숨기기 */
}

.screen__up-page {
  display: flex;
  justify-content: center;
}

.now-playing {
  width: 60%;
  background-color: tomato;
  height: 500px;
}

.preview {
  background-color: tomato;
  width: 25%;
  height: 500px;
  margin-left: 30px;
}

#latest-Movie-btn,
#popular-Movie-btn {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: white;
  cursor: pointer;
}

#latest-Movie-btn:hover,
#popular-Movie-btn:hover {
  background-color: #575757;
}

#latest-Movie-btn.active-btn,
#popular-Movie-btn.active-btn {
  color: black;
  background-color: white;
}
.slider1 {
  /* 스크롤바 숨기기 */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  cursor: pointer;
}

.slider2 {
  /* 스크롤바 숨기기 */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  cursor: pointer;
}
