@import url(reset.css);
@import url(search.css);
@import url(recommend.css);
@import url(lastest-movie.css);

@font-face {
  font-family: "BMJUA";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "BMJUA";
  /*background-color: #f1efe9*/
  z-index: 0;
  background-image: url("https://wallpapers.com/images/featured/beach-sunset-bwvid0licus1pjda.jpg");
  /*https://images4.alphacoders.com/134/1348313.png*/
  background-size: cover;
  background-position: center;
}

.main {
  display: flex;
}
/* 왼쪽 메뉴 */
.menu-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 100vh;
  padding-left: 200px;
  margin-right: 50px;
}

.menu-area__logo {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  margin-bottom: 50px;
}

.menu-area__logo img {
  width: 220px;
  border-radius: 50%;
}

.menu-area__menu {
  width: 250px;
  height: 800px;
  border-radius: 300px;
  background: rgba(255, 255, 255, 0.3); /* Semi-transparent background */
  backdrop-filter: blur(10px); /* Blur effect */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.menu-area__menu-btn {
  font-size: 60px;
  color: white;
  transition: all 0.5s ease-in-out;
}

.menu-area__menu-btn:hover {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  color: #575757;
  padding: 20px;
  transition: all 0.5s ease-in-out;
  border-radius: 50px;
}
/*오른쪽 스크린 화면*/
.screen-area {
  display: flex;
}

.screen {
  padding: 30px 0px;
  height: 1300px;
  width: 1500px;
  margin-top: 100px;
  background: rgba(255, 255, 255, 0.3); /* Semi-transparent background */
  backdrop-filter: blur(15px); /* Blur effect */
  border-radius: 100px;
}
/* 네이게이션 */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*background-color: #5e95f3;*/
  padding: 10px 20px;
  width: 100%; /* 섹션 크기를 줄이기 */
  max-width: 1285px; /* 최대 크기 설정 */
  margin: 0 auto; /* 가운데 정렬 */
  border-radius: 10px;
}

.nav-left,
.nav-right {
  display: flex;
  align-items: center;
}

.nav-left .logo {
  font-weight: bold;
  font-size: 24px;
  color: white;
  margin-right: 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  padding: 10px 15px;
  transition: background-color 0.3s ease;
  text-align: center; /* 텍스트를 센터로 고정 */
}

nav ul li a:hover {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  color: #575757;
}

.nav-left {
  margin-right: auto; /* 왼쪽 영역이 오른쪽 영역과 간격을 두도록 함 */
}

.nav-right {
  margin-left: auto; /* 오른쪽 영역이 왼쪽 영역과 간격을 두도록 함 */
}

/*검색창*/
.hero-section {
  /* background: url('/yuju/image/shrek.webp') no-repeat center center; */
  color: white;
  text-align: center;
  position: relative;
  width: 80%; /* 섹션 크기를 줄이기 */
  max-width: 1285px; /* 최대 크기 설정 */
  margin: 0 auto; /* 가운데 정렬 */
  border-radius: 10px;
}

.hero-content {
  position: relative;
  z-index: 1;
}

.search-box {
  margin-top: 20px;
}

.search-input {
  padding: 10px;
  font-size: 16px;
  width: 100%;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  background: rgba(255, 255, 255, 0.2); /* Semi-transparent background */
  color: white;
}

.search-input::placeholder {
  color: white;
}

.search-input:focus {
  outline: none;
}

.search-button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: white;
  cursor: pointer;
}

.search-button:hover {
  background-color: #575757;
}

/*preview*/

.preview-section {
  width: 90%; /* 섹션 크기를 줄이기 */
  max-width: 1290px; /* 최대 크기 설정 */
  margin: 0 auto; /* 가운데 정렬 */
  /*background-color: #ffffff;*/ /* 배경 색상 */
}

.tabs {
  display: flex;
  justify-content: flex-start; /* 왼쪽 정렬 */
  margin-bottom: 20px;
  width: 80%; /* 히어로 섹션 크기에 맞추기 */
  max-width: 1285px; /* 최대 크기 설정 */
  margin-left: 0; /* 왼쪽 정렬 */
  gap: 2px; /* 탭 버튼 간의 간격 줄이기 */
}

.tab-button {
  background-color: #000000;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  outline: none;
}

.tab-button.active {
  background-color: #5e95f3;
}

.tab-content {
  display: none;
  flex-wrap: wrap;
}

.tab-content.active {
  display: flex;
}

.play-button {
  display: none;
}
.preview-list {
  display: flex;
  overflow-x: auto;
}

.preview-item {
  position: relative;
  margin: 10px;
  flex: 0 0 auto;
  width: 300px; /* 이미지 크기 조절 */
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  /*background-color: #ecf0f1;*/
}

.preview-item iframe {
  width: 100%;
  height: 200px;
  border: none;
}

.preview-info {
  padding: 10px;
  text-align: center;
}

.preview-info h3 {
  font-size: 18px;
  margin: 10px 0;
  color: #ffffff;
}

.preview-info p {
  font-size: 14px;
  color: #ffffff;
}

.preview-list {
  display: flex;
  overflow-x: hidden; /* 스크롤바 숨기기 */
}
