#detail-container {
  display: flex;
}

.detail-display-flex {
  display: flex;
}

.detail-tag-a {
  font-weight: 700;
  text-decoration: none;
  font-size: 2.2rem;
}

.bold {}

.detail-release-date {
  opacity: .8;
  font-weight: 400;
  font-size: 2.2rem;
}

.detail-certification {
  border: 1px solid rgba(0, 0, 0, 0.6);
  color: rgba(0, 0, 0, 0.6);
}

.detail-rating {
  border: 1px solid black;
  border-radius: 100%;
  display: inline;
}

a {
  text-decoration: none;
  margin-right: 0.5rem;
}

.custom-bg {
  /* background-image: linear-gradient(to right, rgba(220.5, 220.5, 199.5, 1) calc((50vw - 170px) - 340px), rgba(220.5, 220.5, 199.5, 0.84) 50%, rgba(220.5, 220.5, 199.5, 0.84) 100%); */
  display: flex;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 40px;
}

#detail-poster-img {
  height: 400px;
}

.img-fit {
  opacity: .2;
  width: 100%;
  /* 부모 요소의 너비에 맞춤 */
  height: auto;
  /* 비율을 유지하면서 높이 조정 */
  position: absolute;
  /* 부모 요소 안에서 절대 위치 */
  top: 50%;
  /* 이미지 중앙 정렬 */
  left: 50%;
  /* 이미지 중앙 정렬 */
  transform: translate(-50%, -50%);
  /* 이미지 중앙 정렬 */
  z-index: -1;
}

.detail-background-transparent {
  background: transparent;
  border: none;
}

#detail-poster-img {
  transition: transform 0.3s ease;
}

#detail-poster-img:hover {
  transform: scale(1.1);
}

.detail-image-slider img {
  transition: transform 0.3s ease;
}

.detail-image-slider img:hover {
  transform: scale(1.1);
}

[type=radio] {
  display: none;
}

#slider {
  height: 35vw;
  position: relative;
  perspective: 100%;
  transform-style: preserve-3d;
}

#slider label {
  margin: auto;
  width: 60%;
  height: 60%;
  border-radius: 4px;
  position: absolute;
  left: 0;
  right: 0;
  cursor: pointer;
  transition: transform 0.4s ease;
}

#s1:checked~#slide1,
#s2:checked~#slide2,
#s3:checked~#slide3,
#s4:checked~#slide4,
#s5:checked~#slide5 {
  box-shadow: 0 13px 25px 0 rgba(0, 0, 0, .3), 0 11px 7px 0 rgba(0, 0, 0, .19);
  transform: translate3d(0, 0, 0);
}

#s1:checked~#slide2,
#s2:checked~#slide3,
#s3:checked~#slide4,
#s4:checked~#slide5,
#s5:checked~#slide1 {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .3), 0 2px 2px 0 rgba(0, 0, 0, .2);
  transform: translate3d(15%, 0, -100px);
}

#s1:checked~#slide3,
#s2:checked~#slide4,
#s3:checked~#slide5,
#s4:checked~#slide1,
#s5:checked~#slide2 {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .37);
  transform: translate3d(30%, 0, -200px);
}

#s1:checked~#slide4,
#s2:checked~#slide5,
#s3:checked~#slide1,
#s4:checked~#slide2,
#s5:checked~#slide3 {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .37);
  transform: translate3d(-30%, 0, -200px);
}

#s1:checked~#slide5,
#s2:checked~#slide1,
#s3:checked~#slide2,
#s4:checked~#slide3,
#s5:checked~#slide4 {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .3), 0 2px 2px 0 rgba(0, 0, 0, .2);
  transform: translate3d(-15%, 0, -100px);
}



/* 출연진 영역 */
.cast-area {
  width: 100%;
  padding: 40px 0 0 12px;
}

.cast-title {
  text-align: left;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 18px;
}

.cast-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  margin-top: 10px;
  padding-bottom: 20px;
  scroll-snap-type: x mandatory;
  box-shadow: inset -15px 0 15px -10px rgba(226, 224, 224, 0.5);
}

.cast-item {
  flex: 0 0 auto;
  width: 150px;
  margin-right: 10px;
  overflow: hidden;
  margin: 10px 5px 5px 10px;
  text-align: center;
}

.cast-item img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 20px;
  box-shadow: rgba(14, 13, 13, 0.1) 5px 5px, rgba(128, 127, 127, 0.1) 8px 8px, rgba(197, 195, 196, 0.05) 15px 15px;
}

.cast-name {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 5px;
}

.cast-character {
  font-style: italic;
  font-size: 12px;
  color: #666;
  margin: 0;
}

/* 출연진 스크롤바 */
 .cast-list::-webkit-scrollbar {
  height: 8px;
}

::-webkit-scrollbar {
  width: 10px;
}

/* 스크롤바 색상 */
::-webkit-scrollbar-thumb {
  background-color: #b9b4b4;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #adabab;
}

