#detail-container {
  display: flex;
}
.detail-display-flex {
  display: flex;
}

.detail-tag-a {
  font-weight: 700;
  text-decoration: none;
  font-size: 2.2rem;
}

.detail-release-date {
  opacity: .8;
  font-weight: 400;
  font-size: 2.2rem;
}

.detail-certification {
  border: 1px solid rgba(0, 0, 0, 0.6);
  color: rgba(0, 0, 0, 0.6);
}

.detail-rating {
  border: 1px solid black;
  border-radius: 100%;
  display: inline;
}

a {
  text-decoration: none;
  margin-right: 0.5rem;
}

.custom-bg {
  /* background-image: linear-gradient(to right, rgba(220.5, 220.5, 199.5, 1) calc((50vw - 170px) - 340px), rgba(220.5, 220.5, 199.5, 0.84) 50%, rgba(220.5, 220.5, 199.5, 0.84) 100%); */
  display: flex;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  position: relative;
  overflow: hidden;
  width: 100%; 
  height: 100%;
  top: 0;
  left: 0;
}

#detail-poster-img {
  height: 330px;
}

.img-fit {
  opacity: .2;
  width: 100%; /* 부모 요소의 너비에 맞춤 */
  height: auto; /* 비율을 유지하면서 높이 조정 */
  position: absolute; /* 부모 요소 안에서 절대 위치 */
  top: 50%; /* 이미지 중앙 정렬 */
  left: 50%; /* 이미지 중앙 정렬 */
  transform: translate(-50%, -50%); /* 이미지 중앙 정렬 */
  z-index: -1;
}